<ul>
  <li> <a href="/home">Home</a> </li>
  <li> <a href="/about">About</a> </li>
  <li> <a href="/contact">Contact Us</a> </li>
  <li> <a href="/children" class="active">Nga Tamariki</a> </li>
  <li> <a href="/form" class="signup">Sign Up</a> </li>
</ul>

<br><br>

{{#each children}}
  <h1> {{name}} </h1>

  <p>{{name}} has
  {{nappies}} nappies, {{wipes}} packet/s of wipes, and {{formula}} of formula!</p><br>
{{/each}}
<a href="/">Go Back</a>
